<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content fullscreen>

  <ion-list>
    
    <ion-item >
      <ion-button (click)="getValidated()">Fin des courses</ion-button>
      <ion-alert-controller></ion-alert-controller>
      <ion-spinner name="crescent" slot="end" *ngIf="loading"></ion-spinner>
      <ion-button (click)="refresh()"slot="end"><ion-icon name="refresh-circle"></ion-icon></ion-button>
    </ion-item>
    <ion-item  *ngFor="let item of res">
      
      <ion-label>
        <h2 style="text-transform: capitalize; font-weight: 500;">{{item.name}}</h2>
        <h4 *ngIf="item.validate"style="opacity: 0.5;">{{item.quantity}}  {{item.unity}}</h4>
      </ion-label>
      <ion-button  icon-only color ="{{item.color}}"(click)="clickEvent(item)">
        <ion-icon *ngIf="item.color=='primary'"name="close"></ion-icon>
        <ion-icon *ngIf="item.color=='light'"name="checkmark" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
    
    </ion-list>
    </ion-content>


  








