<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ajouter une course
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form  [formGroup]="form">

    <ion-item>
      <ion-label floating bold>Nom</ion-label>
      <ion-input [formControl]="form.controls['name']" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating bold>Quantité</ion-label>
      <ion-input [formControl]="form.controls['quantity']" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Unity</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unity</ion-label>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="liquid">
          <ion-icon name="beaker-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="mass">
          <ion-icon name="fast-food-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="entities">
          <ion-icon name="pie-chart-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item  *ngIf="visible">
        <ion-select  slot="end" [formControl]="form.controls['unity']" style="margin-right: 36%;" ion-justify-self-center placeholder="select unity">
          <ion-item *ngFor="let u of unity" value="{{u}}">
            <ion-select-option>{{u}}</ion-select-option>
          </ion-item>
        </ion-select>
    </ion-item>
   


    <ion-item  (click)="addRessource(form)" color="primary" button>
      <ion-label *ngIf="!loading" class="ion-text-center">Ajouter</ion-label>
      <ion-spinner  name="crescent" slot=""  *ngIf="loading"></ion-spinner>
    </ion-item>
  </form>
</ion-content>