<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-select   formControlName="super"(ionChange)="onUnityChange()">
      <ion-item>
      <ion-select-option *ngFor="let unity of unities" [value]="unity">
          {{unity}}
          <ion-iterm>
        <ion-select>
          <ion-select-option *ngFor="let subunity of AllsubUnities[unity]" [value]="subunity">{{subunity}}</ion-select-option>
        </ion-select>
      </ion-iterm>
      </ion-select-option>
    </ion-item>
    </ion-select>
  </ion-item>

</form>
  

</ion-content>
